
<%-include('../include/_cardheader')  %>
   
        <div class="organization" id="organization">
        <% for(i=0;i<org_list.length;i++){ %>
            <div class="card">
                <div class="title">
                    <p> <%= org_list[i].org_name %> </p>
                </div>
                <div class="desc">
                    <p> <%= org_list[i].org_desc %> </p>
                </div>
                <div class="price">
                    <button> DONATE </button> <p><img src="img/eth-logo.png" alt=""> <%= org_list[i].org_req_fund %> ETH</p>
                </div>
            </div>
        <% } %>

        </div>
        
        <div class="bgImg">
            <img src="img/442.jpg" alt="">
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
    <script>
        window.onload = function (){
            console.log("hi");
            toastMixin.fire({
                title: 'Wrong Password',
                icon: 'error'
            });
        }
    </script>
<%-include('../include/_cardfooter')  %>