
<%-include('../include/_cardheader')  %>
   
<div class="organization" id="organization">
<% for(i=0;i<org_list.length;i++){ %>
    <div class="card">
        <div class="title">
            <p> <%= org_list[i].org_name %> </p>
        </div>
        <div class="desc">
            <p> <%= org_list[i].org_desc %> </p>
        </div>
    
        <div class="price">
            <a class="getvote" data-id="<%=org_list[i].waddress %>"  > VOTE </a> <p><img src="img/eth-logo.png" alt=""> <%=org_list[i].view_count %> Counts</p>
        <!-- <input type="text" id="TakeAddress" value="<%=org_list[i].waddress %>"></input> -->

        </div>
    </div>
<% } %>

</div>
<div class="bgImg">
    <img src="img/442.jpg" alt="">
</div>

</div>
<%-include('../include/_cardfooter')  %>